/*  your css code here. If applicable */
nav{
	display: flex;
	justify-content: space-between;
	background-color: rgb(110, 7, 45);
	color: rgb(255, 255, 255);
}
ul{
	display: flex;
}
li{
	font-size: 18px;
	padding-top: 18px;
	padding-bottom: 18px;
	padding-left: 27px;
	padding-right: 27px;
	list-style: none;
	cursor: pointer;
}
a{
	text-decoration: none;
	color: white;
}
li:hover{
	background-color: #b90e4d;
}